@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #00b386;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    height: 50px;
}

.logo {
    display: flex;
    translate: -8px -4px;
}
  
.logo > p {
    font-size: 16px;
    font-family: Bad Script, sans-serif;
    font-weight: bold;
    transform: translateY(4px);
}

.nav-bar, .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.click {
    cursor: pointer;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    background-color: #00b386;
    padding: 20px;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.intro-text > h1 {
    font-size: 30px;
    margin: 0;
}

.intro-text > p {
    font-size: 24px;
}

.form {
    background-color: #ff6666;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
  
#submit {
    background-color: #66ccff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.digipads {
    display: flex;
    justify-content: space-evenly;
}
  
.digipad-boxes {
    padding: 10px;
    text-align: center;
    border-radius: 7%;
    border: 2px solid black;
    background-color: #0077b3;
}

.testimonials {
    text-align: center;
}

footer {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
