@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&family=Kaushan+Script&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #00b386;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    height: 50px;
}

.logo {
    display: flex;
    translate: -8px -4px;
}
  
.logo > p {
    font-size: 16px;
    font-family: "Bad Script", sans-serif;
    font-weight: bold;
    transform: translateY(4px);
}

.nav-bar, .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.click {
    cursor: pointer;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    background-color: #00b386;
    padding: 20px;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.intro-text > h1 {
    font-size: 30px;
    margin: 0;
}

.intro-text > p {
    font-size: 24px;
}

.form {
    background-color: #ff6666;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
  
#submit {
    background-color: #66ccff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.products {
    text-align: center;
    padding: 40px;
}

.products > h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.digipads {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}
  
.digipad-boxes {
    padding: 20px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 7%;
    border: 2px solid black;
    background-color: #0077b3;
}

.digipad-boxes > h3 {
    margin: 0;
}

.digipad-boxes > button {
    background-color: #ff9999;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.new {
    color: #ff9999;
}

.testimonials {
    text-align: center;
    background-color: #97cec0;
    padding: 50px;
}

.testimonials > p {
    width: 50%;
    margin: 0 auto;
    line-height: 45px;
    font-size: 22px;
}

.lorem-ipsum {
    font-family: "Bad Script", sans-serif;
    font-size: 26px;
}

footer {
    background-color: #00b386;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
